* {
  background-color: pink !important;
}

img {
  max-width: 400px;
  height: auto;
  display: block;
}

/* Limit text width for easy reading */
.lead {
  max-width: 75ch;
}

/* List Group Styling */

.list-group-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); /* Light border between items */
  padding: 1rem; /* Adjust padding as needed */
}

.list-group-item:last-child {
  border-bottom: none; /* Remove border from the last item */
}

.img-thumbnail {
  max-width: 300px; /* Limit image size */
  height: auto;
  margin-left: 1rem; /* Add some space between image and text */
}

.list-group-item .fw-bold {
  font-size: 1.1rem; /* Adjust font size for challenge number/title */
  margin-bottom: 0.5rem; /* Add some space below the title */
}

.list-group-item .small {
  font-size: 0.8rem;
  margin-bottom: 0.2rem; /* Add spacing between links */
}