* {
    background-color: pink !important;
}

img {
    max-width: 400px;
    height: auto;
    display: block; /* Prevents some potential spacing issues below the image */
  }

.lead {
    max-width: 70ch;
  }